
body{
    align-items: center;

}
    
button{
    color:white;
    background-color:black;
}


input{
    width: 100px;
    height: 20px;

}
h1{
    color: red;
}

p{
    font-weight: bold;
}

img{
    width: 600px;
    height: 400px;

}